@import url("https://fonts.googleapis.com/css2?family=Montserrat%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --token-10Qco6jC6ieT: 1140px;
  --plasmic-token-content-max-width: var(--token-10Qco6jC6ieT);
  --token-DtzOKTEcpfte: #f2f2f7;
  --plasmic-token-light-gray-06: var(--token-DtzOKTEcpfte);
  --token-BlfavkNKZMJq: #e5e5ea;
  --plasmic-token-light-gray-05: var(--token-BlfavkNKZMJq);
  --token-_qUOs94JcypZ: #92959bd9;
  --plasmic-token-light-label: var(--token-_qUOs94JcypZ);
  --token-L4bcR_ymoRjU: #05050599;
  --plasmic-token-light-secondary: var(--token-L4bcR_ymoRjU);
  --token-nQtIEYtfmfqJ: #007aff;
  --plasmic-token-light-blue: var(--token-nQtIEYtfmfqJ);
  --token-LKzqybrdWFyn: #ff3b30;
  --plasmic-token-light-red: var(--token-LKzqybrdWFyn);
  --token-Tr9dLIsxs0hZ: #ffffff;
  --plasmic-token-white: var(--token-Tr9dLIsxs0hZ);
  --token-lovmbvhbTI9-: #ffffffd9;
  --plasmic-token-dark-label: var(--token-lovmbvhbTI9-);
  --token-qgHBjhwTQKq_: #ffffff80;
  --plasmic-token-dark-secondary: var(--token-qgHBjhwTQKq_);
  --token-l-qAE2mVsTIu: #0000001a;
  --plasmic-token-light-quarternary: var(--token-l-qAE2mVsTIu);
  --token-y4XoqZ9kO38P: #1c1c1e;
  --plasmic-token-dark-gray-06: var(--token-y4XoqZ9kO38P);
  --token-OHOe2InN3a0F: #32d74b;
  --plasmic-token-dark-green: var(--token-OHOe2InN3a0F);
  --token-ZWPN_pmAEebZ: #0a84ff;
  --plasmic-token-dark-blue: var(--token-ZWPN_pmAEebZ);
  --token-mgYdC-G_eubg: #ffffff1a;
  --plasmic-token-dark-quarternary: var(--token-mgYdC-G_eubg);
  --token-up1JSw7v-xQ0: #34c759;
  --plasmic-token-light-green: var(--token-up1JSw7v-xQ0);
  --token-f0iehnV4RCCq: #5856d6;
  --plasmic-token-light-indigo: var(--token-f0iehnV4RCCq);
  --token-VjD7QXefGd65: #185adb;
  --plasmic-token-unnamed-style-token: var(--token-VjD7QXefGd65);
  --token-Sv8n1ZCTNNtl: 1240px;
  --plasmic-token-max-width-navbar: var(--token-Sv8n1ZCTNNtl);
  --token-zBE7trEJy49K: var(--token-4r1153Xq7RtY);
  --plasmic-token-unnamed-style-token-2: var(--token-zBE7trEJy49K);
  --token-4r1153Xq7RtY: #eeeeee80;
  --plasmic-token-grey: var(--token-4r1153Xq7RtY);
  --token-HH13B96VnYFZ: #2563eb;
  --plasmic-token-brand-brand: var(--token-HH13B96VnYFZ);
  --token-0VKBhFAQiWsK: 0.5rem;
  --plasmic-token-size-8: var(--token-0VKBhFAQiWsK);
  --token-CvDjl4H9ioOs: Inter;
  --plasmic-token-sans-serif: var(--token-CvDjl4H9ioOs);
  --token-x6dLGxnrr0WX: 1rem;
  --plasmic-token-font-md: var(--token-x6dLGxnrr0WX);
  --token-o9UtwFQLqhYz: 1.25;
  --plasmic-token-line-height-md: var(--token-o9UtwFQLqhYz);
  --token-JrFzOhyj07bz: 0.375rem;
  --plasmic-token-size-6: var(--token-JrFzOhyj07bz);
  --token-cRXET8BAXe0v: #374151;
  --plasmic-token-neutral-neutral: var(--token-cRXET8BAXe0v);
  --token-ETc3t9lufRLB: #dc2626;
  --plasmic-token-destructive-destructive: var(--token-ETc3t9lufRLB);
  --token-IxZY-9GX36c7: #6b7280;
  --plasmic-token-muted-muted: var(--token-IxZY-9GX36c7);
  --token-TlRcFXjgNXvk: 0.25rem;
  --plasmic-token-size-4: var(--token-TlRcFXjgNXvk);
  --token-F7IFjaHXNcrP: 0.75rem;
  --plasmic-token-font-sm: var(--token-F7IFjaHXNcrP);
  --token-a_rZIbonZL6K: 1;
  --plasmic-token-line-height-sm: var(--token-a_rZIbonZL6K);
  --token-xdEGVPj40jDU: 1.25rem;
  --plasmic-token-font-lg: var(--token-xdEGVPj40jDU);
  --token-7azQ3tG0A29P: 1.4;
  --plasmic-token-line-height-lg: var(--token-7azQ3tG0A29P);
  --token-eDAW7QJefUEU: 0.125rem;
  --plasmic-token-size-2: var(--token-eDAW7QJefUEU);
  --token-9IkpP_Y-z0BS: #16a34a;
  --plasmic-token-success-success: var(--token-9IkpP_Y-z0BS);
  --token--F9rUP0FN-vN: #facc15;
  --plasmic-token-warning-warning: var(--token--F9rUP0FN-vN);
  --token-sxor657-Rn0_: #dbeafe;
  --plasmic-token-brand-brand-soft: var(--token-sxor657-Rn0_);
  --token-GB-0JtVfNw84: #e5e7eb;
  --plasmic-token-neutral-neutral-soft: var(--token-GB-0JtVfNw84);
  --token-eIcEwORxexwb: #f3f4f6;
  --plasmic-token-muted-muted-soft: var(--token-eIcEwORxexwb);
  --token-cESyRjfivXw8: #dcfce7;
  --plasmic-token-success-success-soft: var(--token-cESyRjfivXw8);
  --token-SRxtqfmBjyCa: #fef9c3;
  --plasmic-token-warning-warning-soft: var(--token-SRxtqfmBjyCa);
  --token-f3LhKqnfQrG_: #fee2e2;
  --plasmic-token-destructive-destructive-soft: var(--token-f3LhKqnfQrG_);
  --token-H6jIs1r7gcSW: #93c5fd;
  --plasmic-token-brand-brand-border: var(--token-H6jIs1r7gcSW);
  --token-fZCD0v3i1tmS: #d1d5db;
  --plasmic-token-neutral-neutral-border: var(--token-fZCD0v3i1tmS);
  --token-Ndkh71q4Jr4E: #e5e7eb;
  --plasmic-token-muted-muted-border: var(--token-Ndkh71q4Jr4E);
  --token-KUadK0tWgQxp: #86efac;
  --plasmic-token-success-success-border: var(--token-KUadK0tWgQxp);
  --token-cZhZgW6o35UX: #fde047;
  --plasmic-token-warning-warning-border: var(--token-cZhZgW6o35UX);
  --token-IumnREW_2jI5: #fca5a5;
  --plasmic-token-destructive-destructive-border: var(--token-IumnREW_2jI5);
  --token-Q3a5pNLL_vwI: #0000001a;
  --plasmic-token-interaction-hovered: var(--token-Q3a5pNLL_vwI);
  --token-XYqRMtDCsN32: #ffffff40;
  --plasmic-token-interaction-disabled: var(--token-XYqRMtDCsN32);
  --token-V95nJzHTyTS7: #00000033;
  --plasmic-token-interaction-pressed: var(--token-V95nJzHTyTS7);
  --token-d0B4DDuWVvf6: 0.625rem;
  --plasmic-token-size-10: var(--token-d0B4DDuWVvf6);
  --token-xT0a8-KBzTpy: 0.75rem;
  --plasmic-token-size-12: var(--token-xT0a8-KBzTpy);
  --token-uKAX83pcFVgj: #eff6ff;
  --plasmic-token-brand-brand-foreground: var(--token-uKAX83pcFVgj);
  --token-B8dVUvooWzMo: #f9fafb;
  --plasmic-token-neutral-neutral-foreground: var(--token-B8dVUvooWzMo);
  --token-qkXm1l0PS6eI: #e5e7eb;
  --plasmic-token-muted-muted-foreground: var(--token-qkXm1l0PS6eI);
  --token-Nn1fw85FfpvJ: #1e3a8a;
  --plasmic-token-brand-brand-soft-foreground: var(--token-Nn1fw85FfpvJ);
  --token-YGl26MshGSrq: #422006;
  --plasmic-token-warning-warning-foreground: var(--token-YGl26MshGSrq);
  --token-SBDOImmr8L9l: #f0fdf4;
  --plasmic-token-success-success-foreground: var(--token-SBDOImmr8L9l);
  --token-X0-f5j6C1BNh: #fef2f2;
  --plasmic-token-destructive-destructive-foreground: var(--token-X0-f5j6C1BNh);
  --token-rr6apK1_bUN3: #111827;
  --plasmic-token-neutral-neutral-soft-foreground: var(--token-rr6apK1_bUN3);
  --token-Y8ehZ3c77LZG: #6b7280;
  --plasmic-token-muted-muted-soft-foreground: var(--token-Y8ehZ3c77LZG);
  --token-RmWv1-LMlS-Q: #14532d;
  --plasmic-token-success-success-soft-foreground: var(--token-RmWv1-LMlS-Q);
  --token-LxLvvAyr_cXq: #713f12;
  --plasmic-token-warning-warning-soft-foreground: var(--token-LxLvvAyr_cXq);
  --token-8iobYxVS6m9t: #7f1d1d;
  --plasmic-token-destructive-destructive-soft-foreground: var(
    --token-8iobYxVS6m9t
  );
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-CMsyJQjgiFxe_font-family: "Montserrat", sans-serif;
  --mixin-CMsyJQjgiFxe_font-size: 24px;
  --mixin-CMsyJQjgiFxe_font-weight: 500;
  --mixin-CMsyJQjgiFxe_font-style: normal;
  --mixin-CMsyJQjgiFxe_color: #00000080;
  --mixin-CMsyJQjgiFxe_text-align: left;
  --mixin-CMsyJQjgiFxe_text-transform: none;
  --mixin-CMsyJQjgiFxe_line-height: 1.5;
  --mixin-CMsyJQjgiFxe_letter-spacing: normal;
  --mixin-CMsyJQjgiFxe_white-space: pre-wrap;
  --mixin-CMsyJQjgiFxe_user-select: text;
  --mixin-CMsyJQjgiFxe_text-decoration-line: none;
  --mixin-CMsyJQjgiFxe_text-overflow: clip;
  --mixin-nGJYCc5i1zza_white-space: pre-wrap;
  --mixin-ZB5DvAMLIeYr_font-family: "Montserrat", sans-serif;
  --mixin-ZB5DvAMLIeYr_color: #ffffff;
  --mixin-ZB5DvAMLIeYr_font-size: 72px;
  --mixin-ZB5DvAMLIeYr_font-weight: 700;
  --mixin-ZB5DvAMLIeYr_line-height: 88px;
  --mixin-ZB5DvAMLIeYr_white-space: pre-wrap;
  --mixin-CschLcLfXrmb_font-family: "Inter", sans-serif;
  --mixin-CschLcLfXrmb_color: #000000;
  --mixin-CschLcLfXrmb_font-size: 36px;
  --mixin-CschLcLfXrmb_font-weight: 700;
  --mixin-CschLcLfXrmb_line-height: 43px;
  --mixin-CschLcLfXrmb_text-align: center;
  --mixin-CschLcLfXrmb_white-space: pre-wrap;
  --mixin-G-a0Ez6w36L8_font-family: "Inter", sans-serif;
  --mixin-G-a0Ez6w36L8_color: #000000;
  --mixin-G-a0Ez6w36L8_font-size: 24px;
  --mixin-G-a0Ez6w36L8_font-weight: 600;
  --mixin-G-a0Ez6w36L8_letter-spacing: -0.5px;
  --mixin-G-a0Ez6w36L8_line-height: 1.3;
  --mixin-G-a0Ez6w36L8_white-space: pre-wrap;
  --mixin-jDBtiExIoMBK_font-family: "Montserrat", sans-serif;
  --mixin-jDBtiExIoMBK_color: #185adb;
  --mixin-jDBtiExIoMBK_font-size: 24px;
  --mixin-jDBtiExIoMBK_font-weight: 700;
  --mixin-jDBtiExIoMBK_line-height: 29px;
  --mixin-jDBtiExIoMBK_text-align: center;
  --mixin-jDBtiExIoMBK_white-space: pre-wrap;
  --mixin-z9XnBhzqabZh_font-family: "Inter", sans-serif;
  --mixin-z9XnBhzqabZh_color: #000000;
  --mixin-z9XnBhzqabZh_font-size: 16px;
  --mixin-z9XnBhzqabZh_font-weight: 600;
  --mixin-z9XnBhzqabZh_line-height: 1.5;
  --mixin-z9XnBhzqabZh_white-space: pre-wrap;
  --mixin-epcSw9EdEgFK_border-left-color: #dddddd;
  --mixin-epcSw9EdEgFK_border-left-style: solid;
  --mixin-epcSw9EdEgFK_border-left-width: 3px;
  --mixin-epcSw9EdEgFK_color: #888888;
  --mixin-epcSw9EdEgFK_padding-left: 10px;
  --mixin-epcSw9EdEgFK_white-space: pre-wrap;
  --mixin-8XLHqNKArk4P_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-8XLHqNKArk4P_border-bottom-color: #dddddd;
  --mixin-8XLHqNKArk4P_border-bottom-style: solid;
  --mixin-8XLHqNKArk4P_border-bottom-width: 1px;
  --mixin-8XLHqNKArk4P_border-left-color: #dddddd;
  --mixin-8XLHqNKArk4P_border-left-style: solid;
  --mixin-8XLHqNKArk4P_border-left-width: 1px;
  --mixin-8XLHqNKArk4P_border-right-color: #dddddd;
  --mixin-8XLHqNKArk4P_border-right-style: solid;
  --mixin-8XLHqNKArk4P_border-right-width: 1px;
  --mixin-8XLHqNKArk4P_border-top-color: #dddddd;
  --mixin-8XLHqNKArk4P_border-top-style: solid;
  --mixin-8XLHqNKArk4P_border-top-width: 1px;
  --mixin-8XLHqNKArk4P_border-bottom-left-radius: 3px;
  --mixin-8XLHqNKArk4P_border-bottom-right-radius: 3px;
  --mixin-8XLHqNKArk4P_border-top-left-radius: 3px;
  --mixin-8XLHqNKArk4P_border-top-right-radius: 3px;
  --mixin-8XLHqNKArk4P_font-family: "Inconsolata";
  --mixin-8XLHqNKArk4P_padding-bottom: 1px;
  --mixin-8XLHqNKArk4P_padding-left: 4px;
  --mixin-8XLHqNKArk4P_padding-right: 4px;
  --mixin-8XLHqNKArk4P_padding-top: 1px;
  --mixin-8XLHqNKArk4P_white-space: pre-wrap;
  --mixin-07S4LtpkKjKG_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-07S4LtpkKjKG_border-bottom-color: #dddddd;
  --mixin-07S4LtpkKjKG_border-bottom-style: solid;
  --mixin-07S4LtpkKjKG_border-bottom-width: 1px;
  --mixin-07S4LtpkKjKG_border-left-color: #dddddd;
  --mixin-07S4LtpkKjKG_border-left-style: solid;
  --mixin-07S4LtpkKjKG_border-left-width: 1px;
  --mixin-07S4LtpkKjKG_border-right-color: #dddddd;
  --mixin-07S4LtpkKjKG_border-right-style: solid;
  --mixin-07S4LtpkKjKG_border-right-width: 1px;
  --mixin-07S4LtpkKjKG_border-top-color: #dddddd;
  --mixin-07S4LtpkKjKG_border-top-style: solid;
  --mixin-07S4LtpkKjKG_border-top-width: 1px;
  --mixin-07S4LtpkKjKG_border-bottom-left-radius: 3px;
  --mixin-07S4LtpkKjKG_border-bottom-right-radius: 3px;
  --mixin-07S4LtpkKjKG_border-top-left-radius: 3px;
  --mixin-07S4LtpkKjKG_border-top-right-radius: 3px;
  --mixin-07S4LtpkKjKG_font-family: "Inconsolata";
  --mixin-07S4LtpkKjKG_padding-bottom: 3px;
  --mixin-07S4LtpkKjKG_padding-left: 6px;
  --mixin-07S4LtpkKjKG_padding-right: 6px;
  --mixin-07S4LtpkKjKG_padding-top: 3px;
  --mixin-07S4LtpkKjKG_white-space: pre-wrap;
  --mixin-GgDNRWsxe1DH_display: flex;
  --mixin-GgDNRWsxe1DH_flex-direction: column;
  --mixin-GgDNRWsxe1DH_align-items: stretch;
  --mixin-GgDNRWsxe1DH_justify-content: flex-start;
  --mixin-GgDNRWsxe1DH_list-style-position: outside;
  --mixin-GgDNRWsxe1DH_padding-left: 40px;
  --mixin-GgDNRWsxe1DH_position: relative;
  --mixin-GgDNRWsxe1DH_list-style-type: decimal;
  --mixin-GgDNRWsxe1DH_white-space: pre-wrap;
  --mixin-1P4O8PfaaK7F_display: flex;
  --mixin-1P4O8PfaaK7F_flex-direction: column;
  --mixin-1P4O8PfaaK7F_align-items: stretch;
  --mixin-1P4O8PfaaK7F_justify-content: flex-start;
  --mixin-1P4O8PfaaK7F_list-style-position: outside;
  --mixin-1P4O8PfaaK7F_padding-left: 40px;
  --mixin-1P4O8PfaaK7F_position: relative;
  --mixin-1P4O8PfaaK7F_list-style-type: disc;
  --mixin-1P4O8PfaaK7F_white-space: pre-wrap;
  --mixin-2Euujug_LBzs_color: #000000;
  --mixin-2Euujug_LBzs_font-family: "Montserrat", sans-serif;
  --mixin-2Euujug_LBzs_font-size: 64px;
  --mixin-2Euujug_LBzs_font-weight: 700;
  --mixin-2Euujug_LBzs_line-height: 78px;
  --mixin-2Euujug_LBzs_text-align: center;
  --mixin-2Euujug_LBzs_white-space: pre-wrap;
  --mixin-qsOSRFpM7obw_white-space: pre-wrap;
}

@media (min-width: 0px) and (max-width: 930px) {
  .plasmic_default_styles {
    --mixin-CMsyJQjgiFxe_font-size: 16px;
    --mixin-CMsyJQjgiFxe_line-height: 27px;
    --mixin-CMsyJQjgiFxe_white-space: pre-wrap;
    --mixin-ZB5DvAMLIeYr_font-size: 40px;
    --mixin-ZB5DvAMLIeYr_line-height: 48px;
    --mixin-ZB5DvAMLIeYr_white-space: pre-wrap;
    --mixin-2Euujug_LBzs_font-size: 28px;
    --mixin-2Euujug_LBzs_line-height: 34px;
    --mixin-2Euujug_LBzs_white-space: pre-wrap;
  }
}

.plasmic_mixins {
  --mixin-knaOmq2v-e7f_white-space: pre-wrap;
  --plasmic-mixin-container_white-space: var(--mixin-knaOmq2v-e7f_white-space);
  --mixin-2XxWAOHIVXWY_box-shadow: 0px 10px 10px 0px #00000026;
  --plasmic-mixin-medium-shadow_box-shadow: var(
    --mixin-2XxWAOHIVXWY_box-shadow
  );
  --mixin-2XxWAOHIVXWY_white-space: pre-wrap;
  --plasmic-mixin-medium-shadow_white-space: var(
    --mixin-2XxWAOHIVXWY_white-space
  );
  --mixin-67SNTQv2vhzm_white-space: pre-wrap;
  --plasmic-mixin-section_white-space: var(--mixin-67SNTQv2vhzm_white-space);
  --mixin-ENAcNHD5j_Tt_white-space: pre-wrap;
  --plasmic-mixin-dark-section-background_white-space: var(
    --mixin-ENAcNHD5j_Tt_white-space
  );
  --mixin-LkkyxIj3pK8l_white-space: pre-wrap;
  --plasmic-mixin-content-max_white-space: var(
    --mixin-LkkyxIj3pK8l_white-space
  );
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  row-gap: 0px;
  column-gap: 0px;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  row-gap: 0px;
  column-gap: 0px;
  box-shadow: none;
  box-sizing: border-box;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-CMsyJQjgiFxe_font-family);
  font-size: var(--mixin-CMsyJQjgiFxe_font-size);
  font-weight: var(--mixin-CMsyJQjgiFxe_font-weight);
  font-style: var(--mixin-CMsyJQjgiFxe_font-style);
  color: var(--mixin-CMsyJQjgiFxe_color);
  text-align: var(--mixin-CMsyJQjgiFxe_text-align);
  text-transform: var(--mixin-CMsyJQjgiFxe_text-transform);
  line-height: var(--mixin-CMsyJQjgiFxe_line-height);
  letter-spacing: var(--mixin-CMsyJQjgiFxe_letter-spacing);
  white-space: var(--mixin-CMsyJQjgiFxe_white-space);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  font-family: var(--mixin-ZB5DvAMLIeYr_font-family);
  color: var(--mixin-ZB5DvAMLIeYr_color);
  font-size: var(--mixin-ZB5DvAMLIeYr_font-size);
  font-weight: var(--mixin-ZB5DvAMLIeYr_font-weight);
  line-height: var(--mixin-ZB5DvAMLIeYr_line-height);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  font-family: var(--mixin-CschLcLfXrmb_font-family);
  color: var(--mixin-CschLcLfXrmb_color);
  font-size: var(--mixin-CschLcLfXrmb_font-size);
  font-weight: var(--mixin-CschLcLfXrmb_font-weight);
  line-height: var(--mixin-CschLcLfXrmb_line-height);
  text-align: var(--mixin-CschLcLfXrmb_text-align);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  font-family: var(--mixin-G-a0Ez6w36L8_font-family);
  color: var(--mixin-G-a0Ez6w36L8_color);
  font-size: var(--mixin-G-a0Ez6w36L8_font-size);
  font-weight: var(--mixin-G-a0Ez6w36L8_font-weight);
  letter-spacing: var(--mixin-G-a0Ez6w36L8_letter-spacing);
  line-height: var(--mixin-G-a0Ez6w36L8_line-height);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  font-family: var(--mixin-jDBtiExIoMBK_font-family);
  color: var(--mixin-jDBtiExIoMBK_color);
  font-size: var(--mixin-jDBtiExIoMBK_font-size);
  font-weight: var(--mixin-jDBtiExIoMBK_font-weight);
  line-height: var(--mixin-jDBtiExIoMBK_line-height);
  text-align: var(--mixin-jDBtiExIoMBK_text-align);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  font-family: var(--mixin-z9XnBhzqabZh_font-family);
  color: var(--mixin-z9XnBhzqabZh_color);
  font-size: var(--mixin-z9XnBhzqabZh_font-size);
  font-weight: var(--mixin-z9XnBhzqabZh_font-weight);
  line-height: var(--mixin-z9XnBhzqabZh_line-height);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-epcSw9EdEgFK_color);
  padding-left: var(--mixin-epcSw9EdEgFK_padding-left);
  border-left: var(--mixin-epcSw9EdEgFK_border-left-width)
    var(--mixin-epcSw9EdEgFK_border-left-style)
    var(--mixin-epcSw9EdEgFK_border-left-color);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-8XLHqNKArk4P_font-family);
  border-radius: var(--mixin-8XLHqNKArk4P_border-top-left-radius)
    var(--mixin-8XLHqNKArk4P_border-top-right-radius)
    var(--mixin-8XLHqNKArk4P_border-bottom-right-radius)
    var(--mixin-8XLHqNKArk4P_border-bottom-left-radius);
  padding: var(--mixin-8XLHqNKArk4P_padding-top)
    var(--mixin-8XLHqNKArk4P_padding-right)
    var(--mixin-8XLHqNKArk4P_padding-bottom)
    var(--mixin-8XLHqNKArk4P_padding-left);
  border-top: var(--mixin-8XLHqNKArk4P_border-top-width)
    var(--mixin-8XLHqNKArk4P_border-top-style)
    var(--mixin-8XLHqNKArk4P_border-top-color);
  border-right: var(--mixin-8XLHqNKArk4P_border-right-width)
    var(--mixin-8XLHqNKArk4P_border-right-style)
    var(--mixin-8XLHqNKArk4P_border-right-color);
  border-bottom: var(--mixin-8XLHqNKArk4P_border-bottom-width)
    var(--mixin-8XLHqNKArk4P_border-bottom-style)
    var(--mixin-8XLHqNKArk4P_border-bottom-color);
  border-left: var(--mixin-8XLHqNKArk4P_border-left-width)
    var(--mixin-8XLHqNKArk4P_border-left-style)
    var(--mixin-8XLHqNKArk4P_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-07S4LtpkKjKG_font-family);
  border-radius: var(--mixin-07S4LtpkKjKG_border-top-left-radius)
    var(--mixin-07S4LtpkKjKG_border-top-right-radius)
    var(--mixin-07S4LtpkKjKG_border-bottom-right-radius)
    var(--mixin-07S4LtpkKjKG_border-bottom-left-radius);
  padding: var(--mixin-07S4LtpkKjKG_padding-top)
    var(--mixin-07S4LtpkKjKG_padding-right)
    var(--mixin-07S4LtpkKjKG_padding-bottom)
    var(--mixin-07S4LtpkKjKG_padding-left);
  border-top: var(--mixin-07S4LtpkKjKG_border-top-width)
    var(--mixin-07S4LtpkKjKG_border-top-style)
    var(--mixin-07S4LtpkKjKG_border-top-color);
  border-right: var(--mixin-07S4LtpkKjKG_border-right-width)
    var(--mixin-07S4LtpkKjKG_border-right-style)
    var(--mixin-07S4LtpkKjKG_border-right-color);
  border-bottom: var(--mixin-07S4LtpkKjKG_border-bottom-width)
    var(--mixin-07S4LtpkKjKG_border-bottom-style)
    var(--mixin-07S4LtpkKjKG_border-bottom-color);
  border-left: var(--mixin-07S4LtpkKjKG_border-left-width)
    var(--mixin-07S4LtpkKjKG_border-left-style)
    var(--mixin-07S4LtpkKjKG_border-left-color);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-GgDNRWsxe1DH_display);
  flex-direction: var(--mixin-GgDNRWsxe1DH_flex-direction);
  align-items: var(--mixin-GgDNRWsxe1DH_align-items);
  justify-content: var(--mixin-GgDNRWsxe1DH_justify-content);
  list-style-position: var(--mixin-GgDNRWsxe1DH_list-style-position);
  padding-left: var(--mixin-GgDNRWsxe1DH_padding-left);
  position: var(--mixin-GgDNRWsxe1DH_position);
  list-style-type: var(--mixin-GgDNRWsxe1DH_list-style-type);
  column-gap: var(--mixin-GgDNRWsxe1DH_column-gap);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-1P4O8PfaaK7F_display);
  flex-direction: var(--mixin-1P4O8PfaaK7F_flex-direction);
  align-items: var(--mixin-1P4O8PfaaK7F_align-items);
  justify-content: var(--mixin-1P4O8PfaaK7F_justify-content);
  list-style-position: var(--mixin-1P4O8PfaaK7F_list-style-position);
  padding-left: var(--mixin-1P4O8PfaaK7F_padding-left);
  position: var(--mixin-1P4O8PfaaK7F_position);
  list-style-type: var(--mixin-1P4O8PfaaK7F_list-style-type);
  column-gap: var(--mixin-1P4O8PfaaK7F_column-gap);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-2Euujug_LBzs_color);
  font-family: var(--mixin-2Euujug_LBzs_font-family);
  font-size: var(--mixin-2Euujug_LBzs_font-size);
  font-weight: var(--mixin-2Euujug_LBzs_font-weight);
  line-height: var(--mixin-2Euujug_LBzs_line-height);
  text-align: var(--mixin-2Euujug_LBzs_text-align);
}

:where(.root_reset) h2:where(.h2):hover,
h2:where(.root_reset.h2):hover,
:where(.root_reset .__wab_expr_html_text) h2:hover,
:where(.root_reset_tags) h2:hover,
h2:where(.root_reset_tags):hover {
}
