.root:global(.__wab_instance) {
  position: relative;
  background: var(--token-VjD7QXefGd65);
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  min-width: var(--token-0VKBhFAQiWsK);
  font-family: var(--token-CvDjl4H9ioOs);
  font-size: var(--token-x6dLGxnrr0WX);
  line-height: var(--token-o9UtwFQLqhYz);
  outline-style: none;
  border-radius: var(--token-JrFzOhyj07bz);
  border-width: 0px;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-eDAW7QJefUEU);
  outline-offset: 1px;
  outline-color: var(--token-HH13B96VnYFZ);
}
.root[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.rootcolor_neutral:global(.__wab_instance) {
  background: var(--token-cRXET8BAXe0v);
}
.rootcolor_muted:global(.__wab_instance) {
  background: var(--token-IxZY-9GX36c7);
}
.rootcolor_success:global(.__wab_instance) {
  background: var(--token-9IkpP_Y-z0BS);
}
.rootcolor_warning:global(.__wab_instance) {
  background: var(--token--F9rUP0FN-vN);
}
.rootcolor_errorDestructive:global(.__wab_instance) {
  background: var(--token-ETc3t9lufRLB);
}
.rootcolor_blue:global(.__wab_instance) {
  background: var(--token-VjD7QXefGd65);
  border-style: solid;
  border-color: #185adb;
}
.roottype_soft:global(.__wab_instance) {
  background: none;
}
.roottype_bordered:global(.__wab_instance) {
  background: none;
}
.rootsize_extraSmall:global(.__wab_instance) {
  line-height: var(--token-a_rZIbonZL6K);
  font-size: var(--token-F7IFjaHXNcrP);
  column-gap: var(--token-eDAW7QJefUEU);
  row-gap: 0px;
  border-radius: var(--token-TlRcFXjgNXvk);
}
.rootsize_small:global(.__wab_instance) {
  font-size: var(--token-F7IFjaHXNcrP);
  line-height: var(--token-a_rZIbonZL6K);
  column-gap: var(--token-TlRcFXjgNXvk);
  row-gap: 0px;
  border-radius: var(--token-TlRcFXjgNXvk);
}
.rootsize_large:global(.__wab_instance) {
  font-size: var(--token-xdEGVPj40jDU);
  line-height: var(--token-7azQ3tG0A29P);
}
.rootsize_extraLarge:global(.__wab_instance) {
  font-size: var(--token-xdEGVPj40jDU);
  line-height: var(--token-7azQ3tG0A29P);
}
.rootroundedFull:global(.__wab_instance) {
  border-radius: 99px;
}
.rootflatSide_top:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}
.rootflatSide_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.rootflatSide_bottom:global(.__wab_instance) {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.rootflatSide_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.softBackground {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: var(--token-sxor657-Rn0_);
  border-radius: var(--token-JrFzOhyj07bz);
}
.softBackgroundcolor_neutral {
  background: var(--token-GB-0JtVfNw84);
}
.softBackgroundcolor_muted {
  background: var(--token-eIcEwORxexwb);
}
.softBackgroundcolor_success {
  background: var(--token-cESyRjfivXw8);
}
.softBackgroundcolor_warning {
  background: var(--token-SRxtqfmBjyCa);
}
.softBackgroundcolor_errorDestructive {
  background: var(--token-f3LhKqnfQrG_);
}
.softBackgroundtype_soft {
  background: var(--token-Tr9dLIsxs0hZ);
  display: block;
}
.roottype_bordered[data-hovered] .softBackgroundtype_bordered {
  display: block;
}
.roottype_bordered[data-pressed] .softBackgroundtype_bordered {
  display: block;
}
.softBackgroundroundedFull {
  border-radius: 99px;
}
.rootcolor_blue_type_bordered[data-hovered]
  .softBackgroundcolor_blue_type_bordered {
  background: var(--token-rr6apK1_bUN3);
}
.border {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token-JrFzOhyj07bz);
  border: 0px solid var(--token-H6jIs1r7gcSW);
}
.bordercolor_neutral {
  border-color: var(--token-fZCD0v3i1tmS);
}
.bordercolor_muted {
  border-color: var(--token-Ndkh71q4Jr4E);
}
.bordercolor_success {
  border-color: var(--token-KUadK0tWgQxp);
}
.bordercolor_warning {
  border-color: var(--token-cZhZgW6o35UX);
}
.bordercolor_errorDestructive {
  border-color: var(--token-IumnREW_2jI5);
}
.bordertype_bordered {
  background: none;
  display: block;
  border-width: 1px;
  border-color: #185adb;
}
.borderroundedFull {
  border-radius: 99px;
}
.borderflatSide_top {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.borderflatSide_right {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_bottom {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_left {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.interactionEffect {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: var(--token-JrFzOhyj07bz);
}
.root[data-hovered] .interactionEffect {
  background: var(--token-Q3a5pNLL_vwI);
}
.root[data-disabled] .interactionEffect {
  background: var(--token-XYqRMtDCsN32);
}
.root[data-pressed] .interactionEffect {
  background: var(--token-V95nJzHTyTS7);
}
.roottype_bordered[data-hovered] .interactionEffecttype_bordered {
  display: none;
}
.interactionEffectroundedFull {
  border-radius: 99px;
}
.freeBox__vgBn9 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  column-gap: var(--token-JrFzOhyj07bz);
  min-width: 0;
  min-height: 0;
  padding: var(--token-JrFzOhyj07bz) var(--token-d0B4DDuWVvf6);
}
.freeBoxsize_extraSmall__vgBn9M3K90 {
  padding: var(--token-TlRcFXjgNXvk) var(--token-JrFzOhyj07bz);
}
.freeBoxsize_small__vgBn9MUw1Z {
  padding: var(--token-JrFzOhyj07bz) var(--token-0VKBhFAQiWsK);
}
.freeBoxsize_large__vgBn9KgGkE {
  padding-top: var(--token-TlRcFXjgNXvk);
  padding-bottom: var(--token-TlRcFXjgNXvk);
}
.freeBoxsize_extraLarge__vgBn9OylX {
  padding: 16px 32px;
}
.freeBoxroundedFull__vgBn95CmKd {
  padding-right: var(--token-xT0a8-KBzTpy);
  padding-left: var(--token-xT0a8-KBzTpy);
}
.freeBox__aiVm {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconStart__aiVm2QCdq {
  display: flex;
}
.slotTargetStart {
  color: var(--token-uKAX83pcFVgj);
}
.slotTargetStartcolor_neutral {
  color: var(--token-B8dVUvooWzMo);
}
.slotTargetStartcolor_muted {
  color: var(--token-qkXm1l0PS6eI);
}
.slotTargetStartcolor_success {
  color: var(--token-SBDOImmr8L9l);
}
.slotTargetStartcolor_warning {
  color: var(--token-YGl26MshGSrq);
}
.slotTargetStartcolor_errorDestructive {
  color: var(--token-X0-f5j6C1BNh);
}
.slotTargetStarttype_soft {
  color: var(--token-Nn1fw85FfpvJ);
}
.slotTargetStarttype_bordered {
  color: var(--token-Nn1fw85FfpvJ);
}
.slotTargetStartsize_extraSmall {
  font-size: var(--token-F7IFjaHXNcrP);
}
.slotTargetStartsize_small {
  font-size: var(--token-F7IFjaHXNcrP);
}
.slotTargetStartsize_large {
  font-size: var(--token-xdEGVPj40jDU);
}
.slotTargetStartsize_extraLarge {
  font-size: var(--token-xdEGVPj40jDU);
}
.slotTargetStarttype_soft_color_neutral {
  color: var(--token-rr6apK1_bUN3);
}
.slotTargetStartcolor_neutral_type_bordered {
  color: var(--token-rr6apK1_bUN3);
}
.slotTargetStarttype_soft_color_muted {
  color: var(--token-Y8ehZ3c77LZG);
}
.slotTargetStartcolor_muted_type_bordered {
  color: var(--token-Y8ehZ3c77LZG);
}
.slotTargetStartcolor_success_type_soft {
  color: var(--token-RmWv1-LMlS-Q);
}
.slotTargetStartcolor_success_type_bordered {
  color: var(--token-RmWv1-LMlS-Q);
}
.slotTargetStartcolor_warning_type_soft {
  color: var(--token-LxLvvAyr_cXq);
}
.slotTargetStartcolor_warning_type_bordered {
  color: var(--token-LxLvvAyr_cXq);
}
.slotTargetStartcolor_errorDestructive_type_soft {
  color: var(--token-8iobYxVS6m9t);
}
.slotTargetStartcolor_errorDestructive_type_bordered {
  color: var(--token-8iobYxVS6m9t);
}
.svg__veWRw {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
.slotTargetLabel {
  color: var(--token-uKAX83pcFVgj);
}
.slotTargetLabelcolor_neutral {
  color: var(--token-B8dVUvooWzMo);
}
.slotTargetLabelcolor_muted {
  color: var(--token-qkXm1l0PS6eI);
}
.slotTargetLabelcolor_success {
  color: var(--token-SBDOImmr8L9l);
}
.slotTargetLabelcolor_warning {
  color: var(--token-YGl26MshGSrq);
}
.slotTargetLabelcolor_errorDestructive {
  color: var(--token-X0-f5j6C1BNh);
}
.slotTargetLabeltype_soft {
  color: #185adb;
}
.slotTargetLabeltype_bordered {
  color: var(--token-Nn1fw85FfpvJ);
}
.slotTargetLabeltype_soft_color_neutral {
  color: var(--token-rr6apK1_bUN3);
}
.slotTargetLabeltype_soft_color_muted {
  color: var(--token-Y8ehZ3c77LZG);
}
.slotTargetLabelcolor_neutral_type_bordered {
  color: var(--token-rr6apK1_bUN3);
}
.slotTargetLabelcolor_success_type_soft {
  color: var(--token-RmWv1-LMlS-Q);
}
.slotTargetLabelcolor_muted_type_bordered {
  color: var(--token-Y8ehZ3c77LZG);
}
.slotTargetLabelcolor_warning_type_soft {
  color: var(--token-LxLvvAyr_cXq);
}
.slotTargetLabelcolor_success_type_bordered {
  color: var(--token-RmWv1-LMlS-Q);
}
.slotTargetLabelcolor_errorDestructive_type_soft {
  color: var(--token-8iobYxVS6m9t);
}
.slotTargetLabelcolor_warning_type_bordered {
  color: var(--token-LxLvvAyr_cXq);
}
.slotTargetLabelcolor_errorDestructive_type_bordered {
  color: var(--token-8iobYxVS6m9t);
}
.text__anVj7 {
  white-space: pre;
  color: #eeeeee;
}
.freeBox__wxvjS {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconEnd__wxvjSt9BZs {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-uKAX83pcFVgj);
}
.slotTargetEndcolor_neutral {
  color: var(--token-B8dVUvooWzMo);
}
.slotTargetEndcolor_muted {
  color: var(--token-qkXm1l0PS6eI);
}
.slotTargetEndcolor_success {
  color: var(--token-SBDOImmr8L9l);
}
.slotTargetEndcolor_warning {
  color: var(--token-YGl26MshGSrq);
}
.slotTargetEndcolor_errorDestructive {
  color: var(--token-X0-f5j6C1BNh);
}
.slotTargetEndtype_soft {
  color: var(--token-Nn1fw85FfpvJ);
}
.slotTargetEndtype_bordered {
  color: var(--token-Nn1fw85FfpvJ);
}
.slotTargetEndsize_extraSmall {
  font-size: var(--token-F7IFjaHXNcrP);
}
.slotTargetEndsize_small {
  font-size: var(--token-F7IFjaHXNcrP);
}
.slotTargetEndsize_large {
  font-size: var(--token-xdEGVPj40jDU);
}
.slotTargetEndsize_extraLarge {
  font-size: var(--token-xdEGVPj40jDU);
}
.slotTargetEndtype_soft_color_neutral {
  color: var(--token-rr6apK1_bUN3);
}
.slotTargetEndcolor_neutral_type_bordered {
  color: var(--token-rr6apK1_bUN3);
}
.slotTargetEndtype_soft_color_muted {
  color: var(--token-Y8ehZ3c77LZG);
}
.slotTargetEndcolor_muted_type_bordered {
  color: var(--token-Y8ehZ3c77LZG);
}
.slotTargetEndcolor_success_type_soft {
  color: var(--token-RmWv1-LMlS-Q);
}
.slotTargetEndcolor_success_type_bordered {
  color: var(--token-RmWv1-LMlS-Q);
}
.slotTargetEndcolor_warning_type_soft {
  color: var(--token-LxLvvAyr_cXq);
}
.slotTargetEndcolor_warning_type_bordered {
  color: var(--token-LxLvvAyr_cXq);
}
.slotTargetEndcolor_errorDestructive_type_soft {
  color: var(--token-8iobYxVS6m9t);
}
.slotTargetEndcolor_errorDestructive_type_bordered {
  color: var(--token-8iobYxVS6m9t);
}
.svg__fyf5U {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
