.root {
  box-shadow: 0px 10px 10px 0px #00000026;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-width: 400px;
  background: var(--token-Tr9dLIsxs0hZ);
  position: relative;
  border-radius: 16px;
}
.rootprimary {
  border: 0px none var(--token-up1JSw7v-xQ0);
}
.rootborders_flatLeft {
  border-radius: 20px;
}
.rootborders_flatRight {
  border-radius: 20px;
}
.rootborders_flatCenter {
  border-radius: 20px;
}
.freeBox {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 400px;
  align-self: center;
  min-width: 0;
  border-radius: 20px;
  padding: 8px 48px;
}
.freeBoxborders_flatLeft {
  background: #185adb;
  padding-left: 41px;
  padding-right: 41px;
}
.freeBoxborders_flatRight {
  padding-left: 41px;
  padding-right: 41px;
  border-radius: 20px;
}
.h4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 48px;
  padding-top: 20px;
  min-width: 0;
}
.h4borders_flatLeft {
  color: var(--token-Tr9dLIsxs0hZ);
  font-size: 36px;
}
.h4borders_flatRight {
  font-size: 36px;
}
.h4borders_flatCenter {
  margin-top: 52px;
}
.text__t3Xa {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  padding-top: 12px;
  min-width: 0;
}
.textprimary__t3Xak9LZr {
  text-align: center;
}
.textborders_flatLeft__t3Xatckc1 {
  color: var(--token-Tr9dLIsxs0hZ);
  text-align: center;
  font-size: 16px;
}
.textborders_flatRight__t3XAqgzRj {
  text-align: center;
  font-size: 16px;
}
.textborders_flatCenter__t3XAoNc2N {
  text-align: center;
}
.img__pBKtj {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  margin-top: 32px;
  align-self: center;
}
.img__pBKtj > picture > img {
  object-fit: cover;
}
.columns__mN6M {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 32px 0px 0px;
}
.columns__mN6M > :nth-child(2n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
}
.columns__mN6M > :nth-child(2n + 2) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 10 / 12);
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__mN6M {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: flex-start;
    min-width: 0;
    --plsmc-rc-col-gap: 0px;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__mN6M > :nth-child(2n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__mN6M > :nth-child(2n + 2) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 10 / 12);
  }
}
.columnsprimary__mN6Mk9LZr {
  --plsmc-rc-col-gap: 0px;
}
.column___2H6FP {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__xxQjK {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.img__xxQjK > picture > img {
  object-fit: cover;
}
.column___2TiT {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__d5CcY {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__d5CcY {
    width: 100%;
    min-width: 0;
  }
}
.textborders_flatLeft__d5CcYtckc1 {
  color: var(--token-Tr9dLIsxs0hZ);
  font-size: 14px;
}
.textborders_flatRight__d5CcYqgzRj {
  font-size: 14px;
}
.columns___747Sp {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 0px;
}
.columns___747Sp > :nth-child(2n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
}
.columns___747Sp > :nth-child(2n + 2) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 10 / 12);
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns___747Sp {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    --plsmc-rc-col-gap: 0px;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns___747Sp > :nth-child(1n + 1) {
    width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.columnsprimary___747Spk9LZr {
  --plsmc-rc-col-gap: 0px;
}
.columnsborders_flatLeft___747Sptckc1 {
  --plsmc-rc-col-gap: 0px;
}
.columnsborders_flatRight___747SPqgzRj {
  --plsmc-rc-col-gap: 0px;
}
.columnsborders_flatCenter___747SPoNc2N {
  display: none;
  --plsmc-rc-col-gap: 0px;
}
.column__bXhgU {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img___1PuVj {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.img___1PuVj > picture > img {
  object-fit: cover;
}
.column__ydt0L {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__bFn0B {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  min-width: 0;
}
.textborders_flatLeft__bFn0BTckc1 {
  color: var(--token-Tr9dLIsxs0hZ);
  font-size: 14px;
}
.textborders_flatRight__bFn0BqgzRj {
  font-size: 14px;
}
.columns__z5Q1F {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 0px;
}
.columns__z5Q1F > :nth-child(3n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
}
.columns__z5Q1F > :nth-child(3n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 9 / 12);
}
.columns__z5Q1F > :nth-child(3n + 3) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 1 / 12);
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__z5Q1F {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: center;
    min-width: 0;
    display: none;
    --plsmc-rc-col-gap: 0px;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__z5Q1F > :nth-child(1n + 1) {
    width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.columnsprimary__z5Q1FK9LZr {
  --plsmc-rc-col-gap: 0px;
}
.columnsborders_flatLeft__z5Q1FTckc1 {
  --plsmc-rc-col-gap: 0px;
}
.columnsborders_flatCenter__z5Q1FoNc2N {
  display: none;
  --plsmc-rc-col-gap: 0px;
}
.column__f70J {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__sHhGp {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.img__sHhGp > picture > img {
  object-fit: cover;
}
.column__ytwfr {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__jxqTg {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__jxqTg {
    font-size: 12px;
  }
}
.textborders_flatLeft__jxqTgTckc1 {
  color: var(--token-Tr9dLIsxs0hZ);
  font-size: 14px;
}
.column__p5RD1 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column__p5RD1 {
    display: none;
  }
}
.columnprimary__p5RD1K9LZr {
  display: none;
}
.columnborders_flatLeft__p5RD1Tckc1 {
  display: none;
}
.columnborders_flatRight__p5RD1QgzRj {
  display: none;
}
.columns__xBl7 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 0px;
}
.columns__xBl7 > :nth-child(2n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
}
.columns__xBl7 > :nth-child(2n + 2) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 10 / 12);
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__xBl7 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    display: none;
    --plsmc-rc-col-gap: 0px;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__xBl7 > :nth-child(1n + 1) {
    width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.columnsprimary__xBl7K9LZr {
  --plsmc-rc-col-gap: 0px;
}
.columnsborders_flatLeft__xBl7Tckc1 {
  --plsmc-rc-col-gap: 0px;
}
.columnsborders_flatCenter__xBl7ONc2N {
  display: none;
  --plsmc-rc-col-gap: 0px;
}
.column__pzPr9 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img___57JHk {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.img___57JHk > picture > img {
  object-fit: cover;
}
.column___83G9 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text___0V6W4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  min-width: 0;
}
.textborders_flatLeft___0V6W4Tckc1 {
  color: var(--token-Tr9dLIsxs0hZ);
  font-size: 14px;
}
.columns__r5N9P {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 0px;
}
.columns__r5N9P > :nth-child(2n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
}
.columns__r5N9P > :nth-child(2n + 2) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 10 / 12);
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__r5N9P {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    --plsmc-rc-col-gap: 0px;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__r5N9P > :nth-child(1n + 1) {
    width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.columnsprimary__r5N9Pk9LZr {
  --plsmc-rc-col-gap: 0px;
}
.columnsborders_flatCenter__r5N9PoNc2N {
  display: flex;
  --plsmc-rc-col-gap: 0px;
}
.column__ebVxV {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img___3XlZl {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.img___3XlZl > picture > img {
  object-fit: cover;
}
.column__j80BP {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__gCNn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  min-width: 0;
}
.columns___9Wbqd {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 0px;
}
.columns___9Wbqd > :nth-child(2n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
}
.columns___9Wbqd > :nth-child(2n + 2) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 10 / 12);
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns___9Wbqd {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    --plsmc-rc-col-gap: 0px;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns___9Wbqd > :nth-child(1n + 1) {
    width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.columnsprimary___9WbqdK9LZr {
  --plsmc-rc-col-gap: 0px;
}
.columnsborders_flatCenter___9WbqdoNc2N {
  display: flex;
  --plsmc-rc-col-gap: 0px;
}
.column__mjgqm {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__ndQX {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.img__ndQX > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__ndQX {
    width: 16px;
  }
}
.column__eKkwM {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__hU4Cv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  min-width: 0;
}
.columns__nuhay {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 0px;
}
.columns__nuhay > :nth-child(2n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
}
.columns__nuhay > :nth-child(2n + 2) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 10 / 12);
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__nuhay {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    --plsmc-rc-col-gap: 0px;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__nuhay > :nth-child(1n + 1) {
    width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.columnsprimary__nuhayK9LZr {
  --plsmc-rc-col-gap: 0px;
}
.columnsborders_flatCenter__nuhayoNc2N {
  display: flex;
  --plsmc-rc-col-gap: 0px;
}
.column__cznI {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__lYvIb {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.img__lYvIb > picture > img {
  object-fit: cover;
}
.column___003Af {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__p8NWg {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  min-width: 0;
}
.columns__npdZz {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 0px;
}
.columns__npdZz > :nth-child(2n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
}
.columns__npdZz > :nth-child(2n + 2) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 10 / 12);
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__npdZz {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    --plsmc-rc-col-gap: 0px;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__npdZz > :nth-child(1n + 1) {
    width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.columnsprimary__npdZzK9LZr {
  --plsmc-rc-col-gap: 0px;
}
.columnsborders_flatCenter__npdZzoNc2N {
  display: flex;
  --plsmc-rc-col-gap: 0px;
}
.column__csUfe {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__l4Mg6 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.img__l4Mg6 > picture > img {
  object-fit: cover;
}
.column___7B2We {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__yFhbD {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  min-width: 0;
}
.img__wF9X1 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  margin-top: 32px;
}
.img__wF9X1 > picture > img {
  object-fit: cover;
}
.text__boCia {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  color: var(--token-Tr9dLIsxs0hZ);
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  font-weight: 700;
  align-self: center;
  padding-top: 52px;
  min-width: 0;
}
.textborders_flatLeft__boCiaTckc1 {
  display: block;
}
.textborders_flatRight__boCiaqgzRj {
  color: var(--token-y4XoqZ9kO38P);
  display: block;
}
.textborders_flatCenter__boCiaoNc2N {
  color: var(--token-y4XoqZ9kO38P);
  display: block;
}
.text__nZ1M9 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  padding-top: 12px;
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  min-width: 0;
}
.textborders_flatLeft__nZ1M9Tckc1 {
  color: var(--token-Tr9dLIsxs0hZ);
  font-size: 16px;
}
.textborders_flatRight__nZ1M9QgzRj {
  width: 100%;
  text-align: center;
  max-width: none;
  font-size: 16px;
  min-width: 0;
}
.link {
  margin-top: 52px;
  margin-bottom: 52px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.button:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg__uCFuP {
  position: relative;
  height: 1em;
}
.text__aAp8C {
  white-space: pre;
  color: #eeeeee;
}
.textborders_flatLeft__aAp8CTckc1 {
  color: #185adb;
}
.svg__ivh2B {
  position: relative;
  height: 1em;
}
