.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background: #1c1c1c;
  width: 100%;
  min-width: 0;
  padding: 64px 64px 14px;
}
.freeBox__fkNk8 {
  display: flex;
  position: relative;
  max-width: var(--token-10Qco6jC6ieT);
  flex-direction: row;
  width: 100%;
  column-gap: 64px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__fkNk8 {
    display: flex;
    flex-direction: column;
    row-gap: 64px;
    column-gap: 0px;
  }
}
.columns {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 0px;
}
.columns > :nth-child(4n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns > :nth-child(4n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
}
.columns > :nth-child(4n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
}
.columns > :nth-child(4n + 4) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: center;
    min-width: 0;
    --plsmc-rc-col-gap: 0px;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns > :nth-child(1n + 1) {
    width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__sFhJh {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px 8px 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column__sFhJh {
    justify-content: center;
  }
}
.freeBox__yBOb3 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.logo:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: auto;
  left: auto;
  top: auto;
  right: auto;
  width: auto;
}
@media (min-width: 0px) and (max-width: 930px) {
  .logo:global(.__wab_instance) {
    align-self: center;
    margin-top: 0px;
  }
}
.text__a6L85 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  color: #eeeeee80;
  font-family: "Montserrat", sans-serif;
  padding-top: 21px;
  align-self: flex-start;
  text-align: left;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__a6L85 {
    text-align: center;
  }
}
.freeBox__vM6F {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 32px 0px 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__vM6F {
    align-self: center;
    justify-content: center;
  }
}
.svg__n4Ck4 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffffd9;
  width: auto;
  height: 1em;
}
.svg__peFhe {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffffd9;
  margin-left: 24px;
  height: 1em;
}
.svg__v0Zhz {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffffd9;
  margin-left: 24px;
  height: 1em;
}
.svg___7EyiJ {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffffd9;
  margin-left: 24px;
  height: 1em;
}
.column__nXv3A {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column__nXv3A {
    justify-content: center;
  }
}
.h4___29M69 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: left;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h4___29M69 {
    text-align: center;
  }
}
.link__fx02F {
  align-self: flex-start;
  display: flex;
  margin-top: 20px;
  font-size: 12px;
}
.text__lw6Ed {
  white-space: pre;
  color: #92959b;
}
.link__ryUsl {
  align-self: flex-start;
  display: flex;
  margin-top: 20px;
  font-size: 12px;
}
.text__iaFe {
  white-space: pre;
  color: #92959b;
}
.link__wo7J {
  align-self: flex-start;
  display: flex;
  margin-top: 20px;
  font-size: 12px;
}
.text__sjr4P {
  white-space: pre;
  color: #92959b;
}
.link__bku2Q {
  align-self: flex-start;
  display: flex;
  margin-top: 20px;
  font-size: 12px;
}
.text__w0Gsj {
  white-space: pre;
  color: #92959b;
}
.column__zliSt {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column__zliSt {
    justify-content: center;
  }
}
.h4__kgnbJ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: left;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h4__kgnbJ {
    align-self: center;
    text-align: center;
  }
}
.link__eRaIi {
  align-self: flex-start;
  display: flex;
  margin-top: 20px;
  font-size: 12px;
}
.text__myb5W {
  white-space: pre;
  color: #92959b;
}
.link__n0PFo {
  align-self: flex-start;
  display: flex;
  margin-top: 20px;
  font-size: 12px;
}
.text__ok74Z {
  white-space: pre;
  color: #92959b;
}
.column__xa4Mc {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column__xa4Mc {
    justify-content: center;
  }
}
.h4___81ACa {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: left;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h4___81ACa {
    align-self: center;
    text-align: center;
  }
}
.link__wDMf {
  align-self: flex-start;
  display: flex;
  margin-top: 20px;
  font-size: 12px;
}
.text___1UvL {
  white-space: pre;
  color: #92959b;
}
.link__nKryr {
  align-self: flex-start;
  display: flex;
  margin-top: 20px;
  font-size: 12px;
}
.text__hQNz {
  white-space: pre;
  color: #92959b;
}
.link__sPwPi {
  align-self: flex-start;
  display: flex;
  margin-top: 20px;
  font-size: 12px;
}
.text__yNJue {
  white-space: pre;
  color: #92959b;
}
.freeBox__oDmrn {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 0px 20px;
}
.text___3R5Tr {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  padding-top: 206px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text___3R5Tr {
    padding-top: 129px;
  }
}
