.root {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: var(--token-10Qco6jC6ieT);
  justify-content: center;
  align-items: center;
}
.freeBox__jp9Hh {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: var(--token-10Qco6jC6ieT);
  align-self: center;
  column-gap: 1px;
  min-width: 0;
  padding: 0px 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__jp9Hh {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    column-gap: 0px;
  }
}
.freeBox__yydSx {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__yydSx {
    padding-bottom: 0px;
  }
}
.priceCard__gqLmj:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
@media (min-width: 0px) and (max-width: 930px) {
  .priceCard__gqLmj:global(.__wab_instance) {
    margin-bottom: 51px;
  }
}
.freeBox___4D7Qr {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
  padding: 8px;
}
.freeBox___67GTp {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: auto;
  height: auto;
  max-width: 304px;
  background: #185adb;
  z-index: 3;
  align-self: center;
  left: auto;
  top: 8px;
  margin-top: -20px;
  border-radius: 10px;
  padding: 12px 15px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox___67GTp {
    margin-top: -18px;
  }
}
.text {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 304px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  text-align: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text {
    font-size: 20px;
  }
}
.priceCard__bu3GJ:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  z-index: 1;
}
@media (min-width: 0px) and (max-width: 930px) {
  .priceCard__bu3GJ:global(.__wab_instance) {
    z-index: 1;
    margin-bottom: 9px;
  }
}
.freeBox__wu3Pa {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
  padding: 8px;
}
.priceCard__klQf5:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
@media (min-width: 0px) and (max-width: 930px) {
  .priceCard__klQf5:global(.__wab_instance) {
    margin-bottom: 28px;
    margin-top: 21px;
  }
}
